#header > #header-bottom-left {background-image: none !important; height: 50px !important;}
#header > .pagename {margin-top:30px !important}
.side a[href="https://www.reddit.com/r/exmormon/hot"] , .side a[href="https://mm.reddit.com/r/exmormon"] , .side a[href="https://nm.reddit.com/r/exmormon"] {
		top: 52px !important;
	}


#main-content .col-md-16 {width: 100% !important;}
/*.col-md-8.pull-right{display:none;}*/

.pull-left{display: none;}
.content-full-article.col-md-8 { width: 100% !important;}
p.TEXT_w_Indent {font-size: 20px !important; line-height: 30px !important; font-family: serif !important;}*/